<div class=" mt-6  bg-white h-screen ">
    <br>
    <br>
    <br>
    <h1 class="uppercase flex justify-center text-5xl mt-16 pt-5 p">conatct section
    </h1>
    <div class="flex justify-center">    
        <div class="linep "></div>
    <i class="fa-solid fa-star  pt-5 p" ></i>
    <div class="linep "></div>

</div>
<div class="bg-white">
    <form  novalidate="" action="" class="w-50 p-3 mx-auto mt-5 ng-pristine ng-valid ng-touched">
        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="userName" placeholder="name@example.com">
            <label for="userName">userName:</label>
          </div>
          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="userAge" placeholder="name@example.com">
            <label for="userAge">userAge:</label>
          </div>
          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="userEmail" placeholder="name@example.com">
            <label for="userEmail">userEmail:</label>
          </div>
          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="userPassword" placeholder="name@example.com">
            <label for="userPassword">userPassword:</label>
          </div>
        <button  class="btn mt-4 text-white " style="background-color: #1abc9c;"> send Message </button></form>


</div>
<br>
<br>




      