
<div class=" bg-white">
    <h1 class="uppercase flex justify-center text-5xl mt-16 pt-5 ">portfolio component
    </h1>
    <div class="flex justify-center">    
        <div class="linep "></div>
    <i class="fa-solid fa-star  pt-5 p" ></i>
    <div class="linep "></div>
    
    </div>

    <div class="container mt-5">
      <div class="row g-3">
        <div class="container mt-5">
          <div class="row g-3">
              <!-- Image 1 -->
              <div class="col-md-4">
                  <div class="image-container" data-bs-toggle="modal" data-bs-target="#modalImage1">
                      <img src="../../../assets/imges/poert1.png" alt="Image 1" class="img-fluid img-thumbnail">
                      <div class="overlay">+</div>
                  </div>
              </div>
              <!-- Image 2 -->
              <div class="col-md-4">
                  <div class="image-container" data-bs-toggle="modal" data-bs-target="#modalImage2">
                      <img src="../../../assets/imges/port2.png" alt="Image 2" class="img-fluid img-thumbnail">
                      <div class="overlay">+</div>
                  </div>
              </div>
              <!-- Image 3 -->
              <div class="col-md-4">
                  <div class="image-container" data-bs-toggle="modal" data-bs-target="#modalImage3">
                      <img src="../../../assets/imges/port3.png" alt="Image 3" class="img-fluid img-thumbnail">
                      <div class="overlay">+</div>
                  </div>
              </div>
              <!-- Image 4 -->
              <div class="col-md-4">
                  <div class="image-container" data-bs-toggle="modal" data-bs-target="#modalImage4">
                      <img src="../../../assets/imges/poert1.png" alt="Image 4" class="img-fluid img-thumbnail">
                      <div class="overlay">+</div>
                  </div>
              </div>
              <!-- Image 5 -->
              <div class="col-md-4">
                  <div class="image-container" data-bs-toggle="modal" data-bs-target="#modalImage5">
                      <img src="../../../assets/imges/port2.png" alt="Image 5" class="img-fluid img-thumbnail">
                      <div class="overlay">+</div>
                  </div>
              </div>
              <!-- Image 6 -->
              <div class="col-md-4">
                  <div class="image-container" data-bs-toggle="modal" data-bs-target="#modalImage6">
                      <img src="../../../assets/imges/port3.png" alt="Image 6" class="img-fluid img-thumbnail">
                      <div class="overlay">+</div>
                  </div>
              </div>
          </div>
      </div>
      
      <!-- Modals -->
      <!-- Modal for Image 1 -->
      <div class="modal fade" id="modalImage1" tabindex="-1" aria-labelledby="modalImage1Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                  </div>
                  <div class="modal-body flex justify-center flex justify-center">
                      <img src="../../../assets/imges/poert1.png" class="img-fluid" alt="Image 1">
                  </div>

              </div>
          </div>
      </div>
      
      <!-- Modal for Image 2 -->
      <div class="modal fade" id="modalImage2" tabindex="-1" aria-labelledby="modalImage2Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                  </div>
                  <div class="modal-body flex justify-center">
                      <img src="../../../assets/imges/port2.png" class="img-fluid" alt="Image 2">
                  </div>

              </div>
          </div>
      </div>
      
      <!-- Modal for Image 3 -->
      <div class="modal fade" id="modalImage3" tabindex="-1" aria-labelledby="modalImage3Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                  </div>
                  <div class="modal-body flex justify-center">
                      <img src="../../../assets/imges/port3.png" class="img-fluid" alt="Image 3">
                  </div>

              </div>
          </div>
      </div>
      
      <!-- Modal for Image 4 -->
      <div class="modal fade" id="modalImage4" tabindex="-1" aria-labelledby="modalImage4Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                  </div>
                  <div class="modal-body flex justify-center">
                      <img src="../../../assets/imges/poert1.png" class="img-fluid" alt="Image 4">
                  </div>

              </div>
          </div>
      </div>
      
      <!-- Modal for Image 5 -->
      <div class="modal fade" id="modalImage5" tabindex="-1" aria-labelledby="modalImage5Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                  </div>
                  <div class="modal-body flex justify-center">
                      <img src="../../../assets/imges/port2.png" class="img-fluid" alt="Image 5">
                  </div>

              </div>
          </div>
      </div>
      
      <!-- Modal for Image 6 -->
      <div class="modal fade" id="modalImage6" tabindex="-1" aria-labelledby="modalImage6Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                  </div>
                  <div class="modal-body flex justify-center">
                      <img src="../../../assets/imges/port3.png" class="img-fluid" alt="Image 6">
                  </div>

              </div>
          </div>
      </div>
  


