

    <div class="nav-bg ">
        <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
          <div
            class="mt-16 grid  overflow-hidden sm:grid-cols-2 lg:grid-cols-4  lg:divide-y-0 xl:grid-cols-3">
            <div class="group relative nav-bg">
              <div class="relative space-y-8 py-12 p-8">

                <div class="">
                    <h3 class="mb-3 font-normal text-white text-center text-3xl " >LOCATION</h3>
                    <p class="mb-3 font-normal text-white text-center" >2215 John Daniel Drive
    
                    </p>
                    <p class="mb-3 font-normal text-white text-center" >Clark, MO 65243
                
                    </p>
                </div>
              </div>
            </div>
            <div class="group relative nav-bg">
              <div class="relative space-y-8 py-12 p-8">

                <div class="">
                    <h3 class="mb-3 font-normal text-white text-center text-3xl ps-2" >AROUND THE WEB</h3>
                    <div  class="icons">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-brands fa-facebook fa-stack-1x"></i>
                          </span>
                          <span class="fa-stack" style="vertical-align: top;">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-brands fa-twitter fa-stack-1x"></i>
                          </span>
                          <span class="fa-stack" style="vertical-align: top;">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-brands fa-linkedin-in fa-stack-1x"></i>
                          </span>
                          <span class="fa-stack" style="vertical-align: top;">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-globe fa-stack-1x"></i>
                          </span>
                
                        </div>                </div>
              </div>
            </div>
            <div class="group relative nav-bg">
              <div class="relative space-y-8 py-12 p-8">

                <div class="">
                    <h3 class="mb-3 font-normal text-white text-center text-3xl " >ABOUT FREELANCER</h3>
                    <p class="mb-3 font-normal text-white text-center" >Freelance is a free to use, licensed Bootstrap theme created by Route
                
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div  class="p text-center text-white h-16  border-gray-200 dark:bg-gray-900 pt-4"><p _ngcontent-taa-c21="">Copyright © Your Website 2021</p></div>
