<div class="content-center bg-teal-500  h-screen">
    <div class="flex justify-center">
        <img src="../../../assets/imges/avataaars.svg" alt="">
    </div>
    <h1 class="uppercase flex justify-center text-white text-5xl">start Framework
    </h1>
    <div class="flex justify-center">    
        <div class="line "></div>
    <i class="fa-solid fa-star  text-white pt-5"></i>
    <div class="line "></div>

</div>


    <p class="flex justify-center text-white mt-4" >Graphic Artist - Web Designer - Illustrator</p>
</div>

